<!-- FILEPATH: /c:/AngularProjects/FirstProject/basics/src/app/app.component.html -->

<!-- This template displays a paragraph element if the blueClass property is true. -->
<ng-template [ngIf]="blueClass">
  <p>Button is blue.</p>
</ng-template>

<!-- This paragraph element is displayed if the blueClass property is true. -->
<p *ngIf="blueClass">Button is blue.</p>

<!-- This button toggles the value of the blueClass property when clicked. It applies the 'blue' CSS class if the blueClass property is true. -->
<button (click)="blueClass = !blueClass" [ngClass]="{ blue: blueClass }">
  Change
</button>
<hr />

<!-- This button changes the font size of the text based on the value of the fontSize property. -->
<button [ngStyle]="{ 'font-size.px': fontSize }">Change</button>
<hr />

<!-- This button applies styles defined in the buttonStyles property. -->
<button [ngStyle]="buttonStyles">Change</button>
<hr />

<!-- This input element triggers the changeImage() method on keyup event and binds the value of imgUrl -->
<input (keyup)="changeImage($event)" [value]="imgUrl" />

<!-- This image element binds the value of imgUrl to the src attribute, displaying the corresponding image -->
<img [src]="imgUrl" />

<!-- This paragraph displays the text "My App" -->
<p>My App</p>

<!-- This paragraph displays the value of name variable in uppercase using interpolation -->
<p>name = {{ name.toUpperCase() }}</p>

<p>name = {{ name | titlecase }}</p>

<!-- This paragraph displays the value returned by the getName() method using interpolation -->
<p>name = {{ getName() }}</p>

<!-- This paragraph displays the result of the arithmetic expression 15+15 using interpolation -->
<p>name = {{ 15 + 15 }}</p>

<!-- FILEPATH: /c:/AngularProjects/FirstProject/basics/src/app/app.component.html -->

<!-- Displays the current date in the format "dd/MM/yyyy" -->
<p>currentDate : {{ currentDate | date : "dd/MM/yyyy" }}</p>

<!-- Displays the current date and time in the format "dd/MM/yyyy 'Time : ' hh:mm:ss a" -->
<p>
  currentDateAndTime :
  {{ currentDate | date : "dd/MM/yyyy 'Time : ' hh:mm:ss a" }}
</p>

<!-- Displays the current date and time in the short time format -->
<p>currentDateAndTimeShortTime : {{ currentDate | date : "shortTime" }}</p>

<!-- Displays the cost in the default currency format -->
<p>Cost : {{ cost | currency }}</p>

<!-- Displays the cost in the Japanese Yen currency format -->
<p>Cost : {{ cost | currency : "JPY" }}</p>

<!-- Displays the temperature -->
<p>Temp : {{ temprature }}</p>

<!-- Displays the temperature with one decimal place -->
<p>Temp : {{ temprature | number : "1.0-0" }}</p>

<!-- Displays the JSON representation of the pizza object -->
<pre>
  pizza
  {{ pizza | json }}
</pre>

<!-- This paragraph displays the text "Post" -->
<p>Post</p>

<!-- This custom component app-post is used to display a post with an image, and the imgUrl is passed as an input -->
<!-- FILEPATH: /c:/AngularProjects/FirstProject/basics/src/app/app.component.html -->
<!--
  This code represents the HTML template for the app component.
  It includes the usage of the custom component 'app-post' with the following attributes:
  - [img]: Binds the 'imgUrl' property from the component to the 'img' input property of 'app-post'.
  - (imgSelected): Binds the 'logImg' method from the component to the 'imgSelected' output event of 'app-post'.
-->
<app-post [img]="imgUrl" (imgSelected)="logImg($event)">
  <p>some action</p>
</app-post>
<!-- FILEPATH: /c:/AngularProjects/FirstProject/basics/src/app/app.component.html -->

<!--
  This HTML code represents the template for the AppComponent in an Angular project.
  It displays a list of app-post components using the *ngFor directive.
  Each app-post component receives an image from the 'imgs' array and emits an 'imgSelected' event when clicked.
  The 'logImg' method is called when the 'imgSelected' event is triggered.
  The index of each image in the 'imgs' array is stored in the 'i' variable.
  Inside each app-post component, a paragraph element displays the index followed by the text 'some action 2'.
-->
<app-post
  *ngFor="let image of imgs; let i = index"
  [img]="image"
  (imgSelected)="logImg($event)"
>
  <p>{{ i }} some action 2</p>
</app-post>
